* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
}

.main-container {
  width: 1400px;
  margin: 0 auto;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  padding-bottom: 152px;
}

nav {
  padding-top: 31px;
}

.left-corner, .right-corner {
  background-color: #EFF8ED;
  position: absolute;
  top: 0;
  z-index: -1;
}

.left-corner {
  left: 0;
  width: 111.61px;
  height: 176.96px;
  border-bottom-right-radius: 80px;
}

.right-corner {
  width: 604.15px;
  height: 700px;
  right: 0;
  border-bottom-left-radius: 100px;
}

.nav-container {
  padding: 0 279px 0 195px;
}

.container {
  padding: 0 195px;
  margin: 0 auto;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

.brand-name {
  font-weight: 700;
  font-size: 24px;
}

.navigatio-list {
  display: flex;
  margin-left: 80px;
}
.navigatio-list li {
  font-size: 14px;
  font-weight: 500;
}
.navigatio-list li:not(:last-child) {
  margin-right: 21px;
}

.navigation-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navigation-actions a {
  text-decoration: none;
}
.navigation-actions .login {
  color: #96BB7C;
  font-size: 14px;
  margin-right: 45px;
}
.navigation-actions .join-us {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 137px;
  height: 52px;
  background-color: #96BB7C;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
}
.navigation-actions .join-us img {
  margin-left: 10px;
  width: 15px;
  height: 15px;
  margin-top: 3px;
}

.header-info {
  max-width: 532px;
  margin: 200px auto 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.header-info .title-sm {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: #96BB7C;
}
.header-info .title-lg {
  margin-bottom: 40px;
  font-size: 58px;
  text-align: center;
  color: #252B42;
}
.header-info .description {
  font-size: 20px;
  color: #737373;
  margin-bottom: 40px;
}
.header-info .header-article_actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-info .header-article_actions a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
}
.header-info .header-article_actions .get-quote {
  margin-right: 10px;
  background-color: #96BB7C;
  color: #fff;
}
.header-info .header-article_actions .learn-more {
  background-color: transparent;
  color: #96BB7C;
  border: 1px solid #96BB7C;
}

.sponsers {
  padding: 130px 0;
}
.sponsers .sponsers-container {
  padding: 0 220px;
}
.sponsers .sponsers-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  width: 100%;
}
.sponsers .sponsers-wrapper li {
  flex: 1;
}
.sponsers .sponsers-wrapper li img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.sponsers .sponsers-wrapper li:nth-child(1) img {
  height: 34px;
}
.sponsers .sponsers-wrapper li:nth-child(2) img {
  height: 59px;
}
.sponsers .sponsers-wrapper li:nth-child(3) img {
  height: 75px;
}
.sponsers .sponsers-wrapper li:nth-child(4) img {
  height: 42px;
}
.sponsers .sponsers-wrapper li:nth-child(5) img {
  height: 62px;
}
.sponsers .sponsers-wrapper li:nth-child(6) img {
  height: 72px;
}

.approdable {
  padding: 112px 0 150px;
}
.approdable .title-sm {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  color: #96BB7C;
}
.approdable .title-lg {
  margin-bottom: 10px;
  font-size: 40px;
  color: #252B42;
}
.approdable .description {
  font-weight: 400;
  font-size: 14px;
  color: #737373;
}
.approdable .approdable-cards_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-top: 112px;
}
.approdable .approdable-cards_wrapper .approdable-card {
  padding: 45px 40px 35px 40px;
  background-color: #fff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  position: relative;
}
.approdable .approdable-cards_wrapper .approdable-card.active {
  background-color: #96BB7C;
  color: #fff;
}
.approdable .approdable-cards_wrapper .approdable-card.active .line {
  border-color: #fff;
}
.approdable .approdable-cards_wrapper .approdable-card.active .title, .approdable .approdable-cards_wrapper .approdable-card.active .description {
  color: #fff;
}
.approdable .approdable-cards_wrapper .approdable-card .shape {
  width: 72px;
  height: 58px;
  position: absolute;
  transform: rotate(-10deg);
}
.approdable .approdable-cards_wrapper .approdable-card .icon {
  width: 54px;
  height: 54px;
  margin-bottom: 30px;
  position: relative;
}
.approdable .approdable-cards_wrapper .approdable-card .title {
  font-weight: 700;
  font-size: 16px;
  color: #252B42;
  margin-bottom: 20px;
}
.approdable .approdable-cards_wrapper .approdable-card .line {
  display: block;
  width: 50px;
  border-bottom: 2px solid #E74040;
  margin-bottom: 20px;
}
.approdable .approdable-cards_wrapper .approdable-card .description {
  font-size: 14px;
  color: #737373;
}

.popular-courses {
  padding: 160px 0;
}
.popular-courses .popular-courses_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
}
.popular-courses .popular-courses_wrapper .image-wrapper {
  flex: 1;
}
.popular-courses .popular-courses_wrapper .image-wrapper .image {
  width: 100%;
  height: 100%;
}
.popular-courses .popular-courses_wrapper .info-wrapper {
  flex: 1;
  max-width: 350px;
}
.popular-courses .popular-courses_wrapper .info-wrapper .line {
  display: block;
  width: 100px;
  border-bottom: 7px solid #E74040;
  margin-bottom: 35px;
}
.popular-courses .popular-courses_wrapper .info-wrapper .title {
  font-weight: 700;
  font-size: 40px;
  color: #252B42;
  margin-bottom: 35px;
}
.popular-courses .popular-courses_wrapper .info-wrapper .description {
  font-size: 14px;
  color: #737373;
  margin-bottom: 35px;
}
.popular-courses .popular-courses_wrapper .info-wrapper .more {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  color: #96BB7C;
}
.popular-courses .popular-courses_wrapper .info-wrapper .more img {
  width: 15px;
  height: 15px;
}

.teachers {
  padding: 112px 0;
  background-color: #EFF8ED;
}
.teachers .teachers-wrapper .title-sm {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  color: #96BB7C;
}
.teachers .teachers-wrapper .title-lg {
  margin-bottom: 10px;
  font-size: 40px;
  color: #252B42;
}
.teachers .teachers-wrapper .description {
  font-weight: 400;
  font-size: 14px;
  color: #737373;
  margin-bottom: 112px;
  line-height: 20px;
}

.courses-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.courses-wrapper .course-card {
  max-width: 238px;
  overflow: hidden;
  position: relative;
}
.courses-wrapper .course-card .main-img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.courses-wrapper .course-card .sale {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20px;
  left: 20px;
  align-items: center;
  padding: 4px 10px;
  background-color: #E74040;
  font-size: 12px;
  color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.courses-wrapper .course-card .actions {
  position: absolute;
  top: 236px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
}
.courses-wrapper .course-card .actions a {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.courses-wrapper .course-card .actions a img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.courses-wrapper .course-card .card-main {
  background-color: #fff;
  padding: 25px 20px 45px 25px;
}
.courses-wrapper .course-card .card-main .card-info_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.courses-wrapper .course-card .card-main .card-info_head .title-sm {
  font-weight: 700;
  font-size: 14px;
  color: #252B42;
}
.courses-wrapper .course-card .card-main .card-info_head .rate-box {
  display: flex;
  align-items: center;
  width: 50px;
  height: 26px;
  gap: 5px;
  background-color: #2D4059;
  padding: 5px;
  border-radius: 15px;
}
.courses-wrapper .course-card .card-main .card-info_head .rate-box .rate {
  font-weight: 700;
  font-size: 12px;
  color: #fff;
}
.courses-wrapper .course-card .card-main .card-info_head .rate-box .star {
  width: 15px;
  height: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}
.courses-wrapper .course-card .card-main .title-lg {
  font-weight: 700;
  font-size: 16px;
  color: #252B42;
  margin-bottom: 15px;
}
.courses-wrapper .course-card .card-main .description {
  font-weight: 400;
  font-size: 14px;
  color: #737373;
  margin-bottom: 15px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.courses-wrapper .course-card .card-main .downloads {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.courses-wrapper .course-card .card-main .downloads span {
  font-weight: 400;
  font-size: 14px;
  color: #737373;
}
.courses-wrapper .course-card .card-main .downloads .icon {
  width: 15px;
  height: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}
.courses-wrapper .course-card .card-main .price {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.courses-wrapper .course-card .card-main .price span {
  font-weight: 700;
  font-size: 14px;
}
.courses-wrapper .course-card .card-main .price .old {
  color: #737373;
}
.courses-wrapper .course-card .card-main .price .new {
  color: #FFAB71;
}
.courses-wrapper .course-card .card-main .info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.courses-wrapper .course-card .card-main .info p {
  display: flex;
  align-items: center;
  gap: 5px;
}
.courses-wrapper .course-card .card-main .info p img {
  width: 15px;
  height: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}
.courses-wrapper .course-card .card-main .info p span {
  font-weight: 400;
  font-size: 14px;
  color: #737373;
  text-overflow: ellipsis;
  overflow: hidden;
}
.courses-wrapper .course-card .card-main .more {
  width: 125px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  color: #96BB7C;
  border: 1px solid #96BB7C;
  border-radius: 25px;
  outline: none;
}
.courses-wrapper .course-card .card-main .more img {
  width: 15px;
  height: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}

.tariffs {
  padding: 160px 0 190px;
}
.tariffs .title-sm {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  color: #96BB7C;
}
.tariffs .title-lg {
  margin-bottom: 10px;
  font-size: 40px;
  color: #252B42;
}
.tariffs .description {
  font-weight: 400;
  font-size: 14px;
  color: #737373;
  margin-bottom: 109px;
  line-height: 20px;
}
.tariffs .tariffs-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.tariffs .tariffs-wrapper .tariff-card {
  max-width: 238px;
  position: relative;
  padding: 50px 40px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.tariffs .tariffs-wrapper .tariff-card .new-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  background-color: #E77C40;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  right: -10%;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
.tariffs .tariffs-wrapper .tariff-card .tariff-card_head .favorite-box {
  width: 96px;
  height: 96px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #96BB7C;
  border-radius: 50%;
}
.tariffs .tariffs-wrapper .tariff-card .tariff-card_head .favorite-box img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.tariffs .tariffs-wrapper .tariff-card .tariff-card_head .title-lg {
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 40px;
  color: #252B42;
}
.tariffs .tariffs-wrapper .tariff-card .tariff-card_head .description {
  font-weight: 700;
  font-size: 14px;
  color: #737373;
  margin-bottom: 35px;
  line-height: 20px;
}
.tariffs .tariffs-wrapper .tariff-card .tariff-card_head .price {
  font-weight: 700;
  font-size: 40px;
  color: #96BB7C;
}
.tariffs .tariffs-wrapper .tariff-card .tariff-card_head .per-month {
  color: #8EC2F2;
  font-size: 14px;
  margin-bottom: 35px;
}
.tariffs .tariffs-wrapper .tariff-card .tariff-card_head .plan-description {
  font-weight: 400;
  font-size: 14px;
  color: #737373;
  margin-bottom: 35px;
  line-height: 20px;
}
.tariffs .tariffs-wrapper .tariff-card .tariff-card_head .try-tariff {
  width: 100%;
  height: 52px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background-color: #96BB7C;
  border-radius: 5px;
  outline: none;
}
.tariffs .tariffs-wrapper .list .list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.tariffs .tariffs-wrapper .list .list-item img {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}
.tariffs .tariffs-wrapper .list .list-item span {
  font-weight: 700;
  font-size: 14px;
  color: #737373;
}

.view-on_github {
  padding: 20px;
  position: fixed;
  bottom: 10%;
  border-radius: 50%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  background-color: #96BB7C;
}
.view-on_github:hover .github-icon {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.view-on_github .github-icon {
  -webkit-animation: github-icon 1s infinite;
          animation: github-icon 1s infinite;
}

@-webkit-keyframes github-icon {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes github-icon {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 772px) {
  .main-container {
    max-width: 300px;
  }
  .container {
    padding: 0 20px;
  }
  header {
    padding-bottom: 20px;
  }
  header .container {
    padding: 0;
  }
  header nav {
    margin-bottom: 60px;
  }
  header .header-info {
    margin: 0;
    max-width: 300px;
  }
  header .header-info .description {
    max-width: 300px;
    text-align: center;
    margin: 0 auto 20px;
  }
  header .header-info .header-article_actions a {
    max-width: 49%;
    font-size: 12px;
  }
  header .title-lg {
    font-size: 26px !important;
  }
  .left-corner, .right-corner {
    display: none;
  }
  .nav-wrapper .navigatio-list {
    display: none;
  }
  .nav-wrapper .navigation-actions {
    display: none;
  }
  .sponsers {
    padding: 40px 0;
  }
  .sponsers .sponsers-container {
    padding: 0 20px;
  }
  .sponsers .sponsers-container .sponsers-wrapper {
    grid-template-columns: repeat(1, 1fr);
    max-width: 300px;
    gap: 20px;
  }
  .approdable {
    padding: 25px 0 35px;
  }
  .approdable .title-lg {
    font-size: 26px;
  }
  .approdable .description {
    max-width: 300px;
  }
  .approdable .approdable-cards_wrapper {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 40px;
  }
  .approdable .approdable-cards_wrapper .approdable-card {
    max-width: 280px;
    padding: 20px;
    margin-bottom: 20px;
  }
  .popular-courses_wrapper .image-wrapper {
    display: none;
  }
  .courses-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .tariffs .tariffs-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .tariffs .tariff-card {
    padding: 20px 10px !important;
  }
  .tariffs .tariff-card .tariff-card_head .favorite-box {
    width: 60px !important;
    height: 60px !important;
  }
  .tariffs .new-box {
    display: none !important;
  }
  .teachers {
    padding: 40px 0;
  }
  .view-on_github {
    bottom: 5%;
    right: 5%;
    padding: 10px;
  }
}/*# sourceMappingURL=style.css.map */